.center {
  flex-wrap: wrap;
  height: 80%;
  margin-top: 10%;
  justify-content: start;
}

.move_to_enhance {
  margin-left: 6%;
}

.card {
  position: relative;
}

.card_level {
  position: absolute;
  right: 2px;
  bottom: 45px;
}

.card_name {
  margin: 10px 0 15px 0;
}

